/* Grid layout for events */
.event-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 colonnes */
    gap: 16px; /* Espacement entre les cartes */
    justify-items: center; /* Centre les cartes horizontalement */
    margin-top: 2em;
  }
  
  /* Style pour chaque carte d'événement */
  .event-card {
    box-sizing: border-box;
    width: 100%; 
    max-width: 250px; 
    padding: 10px 30px ;
    margin-bottom: 4px;
    
    transition: border-color 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
  }
  .event-card:hover{
    transform: rotateY(10deg) rotateX(30deg);
    border-color: #3498db; 
  }
  .event-card img {
    width: 100%; /* L'image prend toute la largeur de la carte */
  }
  
  .event-card h2 {
    margin-bottom: 0;
  }
  
  .event-card p {
    font-weight: 100;
    font-size: 14px;
  }
  h3 {
    text-align: left; /* Centre le titre */
    margin: 16px; /* Ajoute de l'espace en dessous du titre */
    color: white;
  }

  /* Pour les écrans de taille moyenne (tablettes), réduire à 3 colonnes */
@media (max-width: 1200px) {
    .event-grid {
      grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
    }
  }
  
  /* Pour les écrans de taille moyenne (petites tablettes ou grands téléphones), réduire à 2 colonnes */
  @media (max-width: 900px) {
    .event-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
    }
  }
  
  /* Pour les petits écrans (téléphones), réduire à 1 colonne */
  @media (max-width: 600px) {
    .event-grid {
      grid-template-columns: 1fr; /* 1 seule colonne */
    }
  }
  
  
  