/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow: hidden;  }
.mat-tab-label{
    border: 2px solid;
    border-bottom:2px rgb(103, 6, 103);
    border-top: 2px rgb(103, 6, 103) ;
    border-radius: 30px;
    margin-bottom: 5px;

    
}

